<footer>
    <div id="info">
        <div class="info-social mb-1">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <div class="mb-1">&copy;StayNearU Private Limited</div>
        <div class="info-links mb-1">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>

        </div>
    </div>
</footer>