<% layout('/layouts/boilerplate') %>

<div id="error" class="mt-4">

    <div id="front">
        <h1>we are sorry!</h1>
        <h5><%= err.message%></h5>
        <a href="/listings">
            <button class="btn btn-primary">Back to homepage</button>
        </a>
    </div>
    <div id="back">
        <h1><%= err.status%></h1>
    </div>
</div>